/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Overflow:hidden ẩn lòi ra */

html{
    font-family: Arial, Helvetica, sans-serif;
}

/* Common */

.clear{
    clear: both;
}

.text-white{
    color: white!important;
}

.text-center{
    text-align: center!important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
  
}

.row::after{
    content: "";
    clear: both;
    display: block;
    
}

.col{
    padding-left: 8px;
    padding-right: 8px;
    float: left;
}

.col-third{
    width: 33.333333%;
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}

.mt-8{
    margin-top: 8px!important;
}

.mt-16{
    margin-top: 16px!important;
}

.btn{
    color: #fff;
    background-color: black;
    text-decoration: none;
    padding: 11px 13px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    
}

.pull-right{
    float: right!important;
}

/* Main */

#header{
height: 46px;
background-color: black;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1;
/* overflow: hidden; */
}

#nav {
    display: inline-block;
}

#nav,.subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;

}
#nav > li > a{
    color: white;
    text-transform: uppercase;
}

#nav .nav-arrow-down{
    padding-left: 5px;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding:0 24px;
    display: inline-block;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav{
    display: none;
    top: 100%;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.3);

}

#nav .subnav a{
    color: black;
    padding: 0 12px;
    
}
#nav .subnav li:hover,
#nav > li:hover > a{
    background-color: gray;
    color: black;
}

#nav .nav-arrow-down{
    font-size: 10px;
}

.mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
}

#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    cursor: pointer;
}

#header .search-btn:hover {
  
    background-color: red;
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
    
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    color: white;
    font-size: 20px;
    line-height: 46px;
    padding: 0 21px;
    
}

#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/slider1.jpg') top center / cover no-repeat;
}
#slider .text-content{
    position: absolute;
    color: white;
    bottom: 48px;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;  
}

#slider .text-description{
    margin-top: 25px;
    text-shadow: 0 0 1px black;
}

#content .content-section{
    padding: 64px 0;
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
    /* 1.6 tieng viet */

}

#content .member-list{
    padding-top: 45px;
    overflow: hidden;
}

#content .member-name{
    font-size: 15px;
    margin-bottom: 15px;
}

#content .member-avt{
    width: 154px;
    border-radius: 4px;
}
/* Tour section */
.tour-section{
    background-color: black;
   
}

.tickets-list{
    background: white;
    margin-top: 40px;
}

.tickets-list li{
    list-style-type: none;
    color: rgb(117, 117, 117);
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    
}

.tickets-list .sold-out{
   background-color: red;
   color: white;
   padding: 4px 4px;

}

.tickets-list .quantity{
    background-color: black;
    color: white;
    float: right;
    width: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%;
}

.place-list{
   margin-top: 16px;
   padding-bottom: 48px;
}

.place-img{

    width: 100%;
    display: block;

}

.place-body{
    background-color: white;
    padding: 16px;
    font-size: 15px;
}

.place-img:hover{
    opacity: 0.6;
}

.place-heading{

    font-size: 15px;
    font-weight: 550;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}


.btn:hover{
    background-color: #ccc;
    color: black;
}

.section-heading {
    font-weight: 200;
}

/* Contact form */
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.4;
}

.contact-info p[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
    outline: none;
}

.contact-form .form-control{
    padding: 11px;
    border: 1px solid #ccc!important;
    width: 100%;
}

/* Footer section */
#footer{
    padding: 64px 16px;
}

.img-footer {
    width: 100%;
    filter: grayscale(50%);
}

/* Modal section */

.modal{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display:none ;
}

.open{
    display: flex;

}

.modal-container{
    background-color: white;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadein ease 0.5s;

}

.modal-header{
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}

.modal-header .ti-bag{
    padding-right: 10px;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 15px;
    padding-right: 15px;
    color: white;
    cursor: pointer;
}

.modal-body {
    padding: 15px;
}

.modal-label{
    display: block;
    margin-bottom: 10px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets{

    background: #009688;
    border: none;
    width: 100%;
    font-size: 15px;
    padding: 16px;
    color: white;

}

#buy-tickets:hover{
    opacity: 0.9;

}

.modal-footer{
    text-align: right;
    padding: 16px;
}

@keyframes modalFadein {
    from {
        transform: translateY(-140px);
    }

    to{
        transform: translateY(0px);
    }
}

/* End modal section */

